.ball {
    background-color: var(--bg-secondary);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes changeColor {
    0% {
        background-color: var(--bg-secondary);
        opacity: 1;
    }

    100% {
        background-color: var(--change-color);
        opacity: 0;
    }
}

@keyframes changeColorReverse {
    0% {
        background-color: var(--change-color-reverse);
    }

    100% {
        background-color: var(--bg-secondary);
    }
}

@keyframes changeColorTmp {
    0% {
        background-color: #FF0800;
    }

    100% {
        background-color: #660000;
    }
}

@keyframes changeColorTmp2 {
    0% {
        background-color: #483D8B;
    }

    100% {
        background-color: #FF00FF;
    }
}

@keyframes makeInvisible {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;

    }
}

