#header {
    background-color: var(--bg-primary);
    height: 12%;
    width: 100%;
    border: 2vmin solid var(--bg-secondary);
    border-bottom-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7vmin;
    color: var(--bg-secondary);
    box-sizing: border-box;
}

.iconPlayer {
    height: 85%;
    width: 20%;
    background-color: #ffffff;
}

.spellNameAndElo {
    height: 100%;
}

.playerNameAndElo {
    margin: 2px;
    display: flex;
    align-items: center;
    font-size: 40%;
}

.scorePlayer {
    font-size: 50%;
}

.playerElo {
    font-size: 60%;
    margin: 3px;
}

.spellContainer {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
}

.spell {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 15%;
    margin-left: 2%;

}

#headerMiddle {
    text-align: center;
    background-color: #83B4FF;
    margin: 5%;
}

#headerLeft, #headerRight {
    flex-grow: 1;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}