#header {
    background-color: var(--bg-primary);
    height: 8%;
    width: 100%;
    border: 2vmin solid var(--bg-secondary);
    border-bottom-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7vmin;
    color: var(--bg-secondary); /* Replace with your desired color code */
}

.iconPlayer {
    height: 85%;
    width: 20%;
    background-color: #ffffff;
}

#headerMiddle {
    text-align: center;
    margin: 5%;
}

.spellNameAndElo {
    height: 100%;
}

#headerLeft, #headerRight {
    background-color: #8803fc;
    flex-grow: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

#headerRight .playerNameAndElo {
    justify-content: right;
}

#headerRight .spellContainer {
    justify-content: right;
}

.playerNameAndElo {
    margin: 2px;
    display: flex;
    align-items: center;
    font-size: 40%;
}

.scorePlayer {
    font-size: 50%;}

.playerElo {
    font-size: 60%;
    margin: 3px;
}

.spellContainer {
    display: flex;
    height: 40%;
    width: 60%;
    background-color: #1A2130;
}

.spell {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 25%;
    margin-left: 2%;
}