#header {
    background-color: var(--bg-primary);
    height: 8%;
    width: 100%;
    border: 2vmin solid var(--bg-secondary);
    border-bottom-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7vmin;
    color: var(--bg-secondary); /* Replace with your desired color code */
}

.iconPlayer {
    height: 85%;
    width: 60%;
    background-color: #ffffff;
}

#headerMiddle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgreen;
    text-align: center;
}

.spellNameAndElo {
    height: 100%;
    width: 100%;
}

#headerLeft, #headerRight {
    background-color: #ffcc00;
    margin: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

#headerRight .scorePlayer {
    background-color: pink;
    justify-content: right;
}

.playerNameAndElo {
    margin: 2px;
    background-color: #83B4FF;
    display: flex;
    align-items: center;
    font-size: 40%;
}

.scorePlayer {
    background-color: #8803fc;
    font-size: 80%;
}

.playerElo {
    font-size: 60%;
    margin: 3px;
}

.spellContainer {
    display: flex;
    height: 40%;
    width: 60%;
    background-color: #1A2130;
}

#headerRight .spellContainer {
    justify-content: right;
}

.spell {
    background-color: var(--bg-secondary);
    height: 86%;
    width: 25%;
    margin: 2%;
}