#map {
    background-color: var(--bg-primary);
    height: 92%;
    width: 100%;
    position: relative;
    border: solid 2vmin var(--bg-secondary);
    border-top: solid 5px var(--bg-secondary);
}

.centerLine::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0;
    border-left: 2px dotted var(--bg-secondary);
    transform: translateX(-50%);
}
