.playerPaddle {
    height: 1vh;
    width: 1vw;
    position: absolute;
    top: 50px;
    padding-bottom:10%;
    margin-left: 1%;
    background-color: var(--bg-secondary);
}

#paddleLeft {
    margin-left: 1%;
}

#paddleRight {
    margin-left: 97%;
}