:root {
    --primary: #DAE1E7;
    --secondary: #83B4FF;
    --bg-primary: #1A2130;
    --bg-secondary: #DAE1E7;
    --bg-three: #5A72A0;
}

body {
    margin:0;
    -webkit-user-select: none;
    user-select: none; /* Disable text selection */
    -webkit-user-drag: none; /* Disable dragging in WebKit browsers */
    -moz-user-select: none; /* Disable text selection in Firefox */
    -ms-user-select: none; /* Disable text selection in Internet Explorer/Edge */
    -webkit-touch-callout: none; /* Disable the callout that appears when long-pressing a link */
    color: #282828;
}

a {
    text-decoration: none;
    color: #282828;
}

#avatar-container {
    width: 5vw; /* ou une autre taille fixe ou relative */
    height: 5vw; /* assure que le conteneur est carré */
    border-radius: 50%; /* rend le conteneur circulaire */
    overflow: hidden; /* cache les parties débordantes de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* zoom et centre l'image */
    object-position: center; /* centre l'image */
}

#main {
    height: 90vmin;
    width: 95vmin;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: red;
}