body {
	background-color: lightgreen;
	font-size: calc(1vh + 0.5vw);
}

#a {
	background-color: green;
	height: 85vmin;
	width: 95vmin;
	display: flex;
	justify-content: center;
}

#b {
	background-color: red;
	height: 50%;
	width: 50%;
	justify-content: center;
}

#c {
	background-color: #8803fc;
	height: 50%;
	width: 50%;
}

#d {
	background-color: darksalmon;
	height: 50%;
	width: 50%;

}