
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Cyber', sans-serif;
}

@keyframes section-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.auth-section
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
	animation: 0.5s ease-out 0s 1 section-appear;
}

.auth-section p {
	padding:0 ;
	margin: 0;
	color: whitesmoke;
	text-align: center;
	font-size: 0.9em;
}

.auth-section label {
	color: whitesmoke;
}

.auth-section .auth-box
{
	position: absolute;
	width: 80%;
	max-width: 400px;
	background: linear-gradient(-45deg, rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5), rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5), rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5), rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5));
	background-size: 800% 800%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	border-color: red;
	border-radius: 4px;
	box-shadow: 0 0 5px #ff0266;
	animation: profile-card-gradient 15s ease infinite;
}

.auth-section .auth-box .content
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.auth-section .auth-box .content h2
{
	font-size: 2em;
	color: #FAFAFA;
}

.auth-section .auth-box .content .form
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.auth-section .auth-box .content .form .inputBox
{
	position: relative;
	width: 100%;
}
.auth-section .auth-box .content .form .inputBox input
{
	position: relative;
	width: 95%;
	background: rgba(200, 20, 20, 0.1);
	border: none;
	outline: none;
	padding: 15px 10px 10px;
	border-radius: 4px;
	color: #FAFAFA;
	font-weight: 500;
	font-size: 1em;
	transition: 0.3s;
}
.auth-box .content .form .inputBox input:focus,
.auth-box .content .form .inputBox input:hover,
.auth-box .content .form .inputBox input:valid {
	background: rgba(100, 25, 50, 0.2);
}

.auth-section .auth-box .content .form .inputBox i
{
	position: absolute;
	left: 0;
	padding: 15px;
	font-style: normal;
	color: whitesmoke;
	opacity: 0.75;
	transition: 0.5s;
	pointer-events: none;
	font-size: 1em;
}
.auth-box .content .form .inputBox input:focus ~ i,
.auth-box .content .form .inputBox input:valid ~ i
{
	display: none;
}

.auth-box .content .form .links
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.auth-box .content .form .links a
{
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
}

.auth-box .content .form .inputBox input[type="submit"]
{
	padding: 10px;
	background: #ececec;
	color: #343434;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
	transition-duration: 0.5s;
	opacity: 0.75;
}

.auth-box .content .form .inputBox input[type="submit"]:hover {
	background: #ff0266;
	color: whitesmoke;
}


