<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPA Application</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="src/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="src/css/header.css" type="text/css" />
    <link rel="stylesheet" href="src/css/map.css" type="text/css" />
    <link rel="stylesheet" href="src/css/player.css" type="text/css" />
    <link rel="stylesheet" href="src/css/ball.css" type="text/css" />
    <link rel="stylesheet" href="src/css/menu.css" type="text/css" />
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const app = document.getElementById('app');

            let csrfToken = '';

            async function getCsrfToken() {
                const response = await fetch('/api/get_csrf_token/');
                const data = await response.json();
                csrfToken = data.csrfToken;
            }
            // Lorsque l'utilisateur navigue vers une nouvelle vue ou page
            function navigateTo(route) {
                history.pushState({ route: route }, 'SPA Application', route);
                // Mettre à jour le contenu de la page en fonction de la route
                updateContent(route);
            }

            // Écouter les événements de l'API History
            window.addEventListener('popstate', function(event) {
                // Récupérer la route depuis l'état de l'historique
                var route = event.state.route;
                if (route === '/login') {
                    navigateTo('/login');
                }
                // Mettre à jour le contenu de la page en fonction de la route
                updateContent(route);
            });

            // Fonction pour mettre à jour le contenu de la page en fonction de la route
            function updateContent(route) {
                if (route === '/login' || route === '/login/') {
                    renderLogin()
                } else if (route === '/signup' || route === '/signup/') {
                    renderSignup()
                } else {
                    renderHome()
                }
            }

            function renderLogin() {
                app.innerHTML = `
                    <section>
                       <div class="auth-box">
                        <div class="content">
                         <h2>Login</h2>
                         <form id="auth-form" class="form">
                          <div class="inputBox">
                           <input type="text" id="username" name="username" required>
                           <i>Username</i>
                          </div>
                          <div class="inputBox">
                           <input type="password" id="password" name="password" required>
                           <i>Password</i>
                          </div>
                          <div class="links">
                            <a href="#" id="signup-link">Sign up</a>
                          </div>
                          <div class="inputBox">
                           <input type="submit" value="Login">
                          </div>
                         </form>
                        </div>
                       </div>
                      </section>
                `;
                document.getElementById('auth-form').addEventListener('submit', handleLogin);
                document.getElementById('signup-link').addEventListener('click', function(event) {
                    event.preventDefault();
                    navigateTo('/signup');
                });
            }

            function renderSignup() {
                app.innerHTML = `
                     <section>
                       <div class="auth-box">
                        <div class="content">
                         <h2>Sign up</h2>
                         <form id="auth-form" class="form">
                          <div class="inputBox">
                           <input type="text" id="username" name="username" required>
                           <i>Username</i>
                          </div>
                          <div class="inputBox">
                           <input type="password" id="password" name="password" required>
                           <i>Password</i>
                          </div>
                          <div class="links">
                            <a href="#" id="login-link">Login</a>
                          </div>
                          <div class="inputBox">
                           <input type="submit" value="Login">
                          </div>
                         </form>
                        </div>
                       </div>
                      </section>
            `;
                document.getElementById('auth-form').addEventListener('submit', handleSignup);
                document.getElementById('login-link').addEventListener('click', function(event) {
                    event.preventDefault();
                    navigateTo('/login');
                });
            }

            async function handleLogin(event) {
                event.preventDefault();
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                await getCsrfToken();

                const response = await fetch('/api/login/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ username: username, password: password })
                });
                const data = await response.json();
                if (data.success) {
                    navigateTo('/');
                } else {
                    alert('Login failed: ' + data.message);
                }
            }

            async function handleSignup(event) {
                event.preventDefault();

                const formData = new FormData(event.target);
                const signupData = {
                    username: formData.get('username'),
                    password: formData.get('password')
                };

                await getCsrfToken();

                const response = await fetch('/api/signup/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify(signupData)
                });
                const data = await response.json();
                if (data.message) {
                    navigateTo('/login');
                } else {
                    alert(data.error);
                }
            }

            async function renderHome() {
                const response = await fetch('/api/is_authenticated/');
                const data = await response.json();
                if (data.is_authenticated) {
                    app.innerHTML = `
                        <h1>Home Page</h1>
                        <p>Logged in as ${data.current_user}</p>
                        <button id="logout-button">Logout</button>
                    `;
                    document.getElementById('logout-button').addEventListener('click', handleLogout);
                } else {
                    navigateTo('/login');
                }
            }

            async function handleLogout() {
                await getCsrfToken();

                const response = await fetch('/api/logout/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken
                    }
                });
                const data = await response.json();
                if (data.success) {
                    navigateTo('/login');
                } else {
                    alert('Logout failed: ' + data.message);
                }
            }

            document.getElementById('js-error').remove()
            navigateTo(window.location.pathname)
            
        });
    </script>
</head>
<body>
<p id="js-error">Error: Javascript seems not working</p>
<div id="app"></div>
</body>
</html>
