#header {
    background-color: var(--bg-primary);
    height: 12%;
    width: 100%;
    border: 2vmin solid var(--bg-secondary);
    border-bottom-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7vmin;
    color: var(--bg-secondary);
    box-sizing: border-box;
}

.iconPlayer {
    height: 85%;
    width: 15%;
    background-color: #ffffff;
}

.spellNameAndElo {
    height: 100%;
}

.playerNameAndElo {
    margin: 2px;
    display: flex;
    align-items: center;
    font-size: 40%;
}

.scorePlayer {
    font-size: 50%;
}

.playerElo {
    font-size: 60%;
    margin: 3px;
}

.spellContainer {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
}

.spell {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    position: relative;
}

.spellCd {
    position: absolute;
    font-size: 40%;
    background-color: rgba(128, 128, 128, 0.5);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#headerMiddle {
    width: 26%;
    text-align: center;
}

#headerLeft, #headerRight {
    width: 32%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}