#header {
    background-color: rgb(0 0 0 / 22%);
    height: 12%;
    width: 100%;
    border: 2vmin solid #DAE1E7FF;
    border-bottom-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7vmin;
    color: #DAE1E7FF;
    box-sizing: border-box;
}

.iconPlayer {
    height: 85%;
    width: 15%;
    background-color: #ffffff;
}

.spellName {
    width: 45%;
    height: 100%;
}

.playerName {
    text-align: center;
    margin: 2px;
    font-size: 40%;
}

.scorePlayer {
    font-size: 50%;
}

.spellContainer {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
}

.spell {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    position: relative;
}

.spellCd {
    position: absolute;
    font-size: 40%;
    background-color: rgba(128, 128, 128, 0.5);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#headerMiddle {
    width: 26%;
    text-align: center;
}

#headerLeft, #headerRight {
    width: 32%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}