#map {
    background: rgb(0 0 0 / 22%);
    animation: profile-card-gradient 15s ease infinite;
    height: 92%;
    width: 100%;
    position: relative;
    border: solid 2vmin #DAE1E7FF;
    border-top: solid 5px #DAE1E7FF;
    box-sizing: border-box;
}

.centerLine::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 0;
    border-left: 2px dotted #DAE1E7FF;
    transform: translateX(-50%);
}
