.playerPaddle {
    width: 1%;
    height: 20%;
    position: absolute;
    margin-left: 1%;
    background-color: #DAE1E7FF;
}

#paddleLeft {
    margin-left: 1%;
}

#paddleRight {
    margin-left: 98%;
}