:root {
    --primary: #DAE1E7;
    --secondary: #83B4FF;
    --bg-primary: #1e1f26;
    --bg-secondary: #DAE1E7;
    --bg-three: #5A72A0;
}

body {
    margin:0;
    -webkit-user-select: none;
    user-select: none; /* Disable text selection */
    -webkit-user-drag: none; /* Disable dragging in WebKit browsers */
    -moz-user-select: none; /* Disable text selection in Firefox */
    -ms-user-select: none; /* Disable text selection in Internet Explorer/Edge */
    -webkit-touch-callout: none; /* Disable the callout that appears when long-pressing a link */
    color: rgba(255, 255, 255, 0.82);
    background-image: url(https://cdn.dribbble.com/userupload/6898071/file/original-d6eee2f84315fca58967df52e2fed047.gif);
    background-size: cover;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.82);
}

#avatar-container {
    width: 100%; /* ou une autre taille fixe ou relative */
    height: 100%; /* assure que le conteneur est carrÃ© */
    border-radius: 50%; /* rend le conteneur circulaire */
    overflow: hidden; /* cache les parties dÃ©bordantes de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* zoom et centre l'image */
    object-position: center; /* centre l'image */
}

#main, #mapAndHeader {
    aspect-ratio: 16 / 9;
    max-width: 95vw;
    max-height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main {
    height: 100%;
}

#mapAndHeader {
    width: 100%;
    background-color: #1A2130;
}

#transcendence-title {
    text-align: center;
}

#transcendence-title .ltr {
    font-size: max(1.5vw, 1.5vh);
    letter-spacing: 0.2em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 250;
    color: #faebd7;
    z-index: 4;
}

#transcendence-title .ltr:hover {
    color: #ff0266;
    filter: drop-shadow(0 0 10px #ff0266);
}

#transcendence-title .ltr {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
    to {
        opacity: 0.5;
    }
}
#transcendence-title .ltr:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}
#transcendence-title .ltr:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}
#transcendence-title .ltr:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}
#transcendence-title .ltr:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}
#transcendence-title .ltr:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}
#transcendence-title .ltr:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}
#transcendence-title .ltr:nth-child(8) {
    -webkit-animation-delay: 0.7s;
}
#transcendence-title .ltr:nth-child(9) {
    -webkit-animation-delay: 0.8s;
}

#transcendence-title .ltr:nth-child(10) {
    -webkit-animation-delay: 0.9s;
}
#transcendence-title .ltr:nth-child(11) {
    -webkit-animation-delay: 1s;
}
#transcendence-title .ltr:nth-child(12) {
    -webkit-animation-delay: 1.1s;
}
#transcendence-title .ltr:nth-child(13) {
    -webkit-animation-delay: 1.2s;
}
#transcendence-title .ltr:nth-child(14) {
    -webkit-animation-delay: 1.3s;
}
#transcendence-title .ltr:nth-child(15) {
    -webkit-animation-delay: 1.4s;
}
#transcendence-title .ltr:nth-child(16) {
    -webkit-animation-delay: 1.5s;
}
#transcendence-title .ltr:nth-child(17) {
    -webkit-animation-delay: 1.6s;
}
#transcendence-title .ltr:nth-child(18) {
    -webkit-animation-delay: 1.7s;
}
#transcendence-title .ltr:nth-child(19) {
    -webkit-animation-delay: 1.8s;
}
#transcendence-title .ltr:nth-child(20) {
    -webkit-animation-delay: 1.9s;
}
#transcendence-title .ltr:nth-child(21) {
    -webkit-animation-delay: 2s;
}
#transcendence-title .ltr:nth-child(22) {
    -webkit-animation-delay: 2.1s;
}

.profile-card {
    font-size: max(0.75vw, 1vh);
    width: max(15vw, 20vh);
    max-height: 50vh;
    min-width: 150px;
    min-height: 300px;
    aspect-ratio: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: solid 1px #ae330d;
    border-left: solid 1px #ae330d;
    background: linear-gradient(-45deg, rgb(99 40 36 / 49%), rgb(93 15 0 / 21%), rgb(99 40 36 / 49%), rgb(93 15 0 / 21%), rgb(99 40 36 / 49%), rgb(93 15 0 / 21%), rgb(99 40 36 / 49%), rgb(93 15 0 / 21%));
    background-size: 800% 800%;
    animation: profile-card-gradient 15s ease infinite;
}

@keyframes profile-card-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.profile-card #avatar-display {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%;
    background: rgba(100, 100, 100, 0.1);
    border-bottom: solid 5px rgba(100, 100, 100, 0.05)
}

.profile-card p {
    font-size: max(0.6vw, 0.8vh);
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(to right,  whitesmoke 75%,rgba(0,0,0,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.profile-card #avatar-container {
    width: 25%;
    aspect-ratio: 1 / 1;
}

.profile-card #avatar {
    aspect-ratio: 1 / 1;
}

.profile-card .buttons {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;

}

.profile-card .buttons a {
    padding: max(0.75vw, 1.25vh);
    transition-duration: 0.1s;
}

.profile-card .buttons a:hover {
    color: #ffc4c4;
}

.profile-card .buttons #logout-button {
    filter: drop-shadow(0 0 1px crimson);
}

.profile-card .bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(
            90deg,
            #ae330d,
            rgba(255, 2, 102, 0.5),
            transparent 50%
    );
    animation: animateBottom 3s ease-in-out infinite;
}

.profile-card .left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(
            180deg,
            #ae330d,
            rgba(255, 2, 102, 0.5),
            transparent 70%
    );
    animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateBottom {
    0%, 50% {
        opacity: 0;
        width: 0;
    }

    75% {
        opacity: 1;
        width: 100%;
    }

    76%, 100% {
        opacity: 0;
    }
}

@keyframes animateLeft {
    0%, 75% {
        opacity: 0;
        bottom: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

@media screen and (max-width: 1100px) {
    #transcendence-title {
        text-align: left;
    }
}

@media screen and (max-width: 650px) {
    #transcendence-title {
        display: none;
    }
}

#profile-card-trophy {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-self: center;
}

#profile-card-trophy p {
    width: auto;
    flex-grow: 0.05;
    animation: trophy-anim 1s ease-in-out infinite alternate;

}

@-webkit-keyframes trophy-anim {
    from {
        opacity: 0.75;
    }
}

#profile-card-trophy img {
    width: max(1vh, 1vw);
    height: max(1vh, 1vw);
    transform: translateY(max(0.75vh, 0.5vw));
}

.single-chart {
    margin-top: 15%;
    margin-left: max(5.5vw, 7.5vh);
    width: 33%;
}

.single-chart p {
    width: 75%;
    transform: translateY(max(-1.5vh, -1vw));
}

.circular-chart {
    margin: 10px auto;
    max-width: 80%;
    aspect-ratio: 1 / 1;
}

.circle-bg {
    fill: none;
    stroke: #ff3a34;
    stroke-width: 1;
}

.circle {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart .circle {
    stroke: #46ffbe;
}

.percentage {
    fill: #fff;
    font-family: sans-serif;
    font-size: 0.5rem;
    text-anchor: middle;
}

.profile-section-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    animation: 0.5s ease-out 0s 1 section-appear;
}

.profile-section {
    position: relative;
    height: max(35vh, 25vw);
    margin: 0.5vw;
    aspect-ratio: 1 / 2;
    background-color: rgb(0 0 0 / 21%);
    /* background: linear-gradient(-45deg, rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5), rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5), rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5), rgba(117, 1, 47, 0.1), rgba(117, 1, 47, 0.5)); */
    background-size: 800% 800%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: max(0.5vw, 1vh) 1% max(0.5vw, 1.5vh) 1%;
    border-color: red;
    border-radius: max(0.2vh, 0.2vw);
    box-shadow: 0 0 5px #9a9a9a40;
    animation: profile-card-gradient 15s ease infinite;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: max(1vh, 0.5vw);
}

.profile-box h2 {
    top: 0;
    text-align: center;
    font-size: max(1.75vh, 0.5vw);
}

.profile-box #avatar-display {
    align-self: center;
    width: max(6vh, 4vw);
    height: max(6vh, 4vw);
}

.profile-box #profile-card-trophy {
    padding: 10px;
    font-size: max(1vh, 0.75vw); /* Responsive font size */
}

.profile-box #profile-card-trophy > img {
    transform: translateY(max(1vh, 0.6vw)); /* Responsive vertical positioning */
}

.profile-box .inputBox input {
    width: 96%;
    background: rgba(200, 20, 20, 0.1);
    border: none;
    outline: none;
    padding: 4% 2% 4%;
    border-radius: 4px;
    color: #FAFAFA;
    font-size: max(0.65vw, 0.85vh);
    transition: 0.3s;
}
.profile-box .inputBox input:focus,
.profile-box .inputBox input:hover,
.profile-box .inputBox input:valid {
    background: rgba(100, 25, 50, 0.2);
}

.profile-box .inputBox i
{
    position: absolute;
    left: max(1.5vw, 1vh);
    transform: translateY(max(0.8vh, 0.6vw));
    font-style: normal;
    color: whitesmoke;
    opacity: 0.75;
    transition: 0.5s;
    pointer-events: none;
    font-size: max(0.65vw, 0.85vh);

}
.profile-box .inputBox input:focus ~ i,
.profile-box .inputBox input:valid ~ i
{
    display: none;
}

#app > div > section > div > div:nth-child(8) > input[type=submit],
#app > div > section > div > div:nth-child(3) > input[type=submit]:nth-child(2) {
    padding: max(0.5vh, 0.25vw) 0 max(0.5vh, 0.25vw) 0;
    margin: 0;
    width: 100%;
    border: solid 1px;
    transition: 0.3s;
}

#app > div > section > div > div:nth-child(8) > input[type=submit]:hover,
#app > div > section > div > div:nth-child(3) > input[type=submit]:nth-child(2):hover {
    cursor: pointer;
    border-color: crimson;
}

.profile-box .inputBox #email {
    cursor: not-allowed;
}

#response-message {
    font-size: max(0.65vw, 0.85vh);
}

#upload-avatar {
    height: max(1vh, 1vw);
    width: auto;
    position: absolute;
    background: rgb(204 83 83 / 50%);
    border: solid 1px black;
    border-radius: 50%;
    transform: translateX(max(4.5vh, 3vw));
    cursor: pointer;
}

.profile-box #profile-card-trophy {
    padding: 0;
    margin: 0;
    top: 0;
}

#app > div > section:nth-child(2) > div > div.single-chart {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#app > div > section:nth-child(2) > div > div.single-chart > svg {
    width: 40%;
    aspect-ratio: 1;
}

#app > div > section:nth-child(2) > div > div.single-chart > p {
    width: 100%;
    font-size: max(1vh, 0.75vw);
}

#stats-text-container {
    display: flex;
    width: 100%;
    padding: max(1vh, 1vw) 0 max(1vh, 0.75vw) 0;
    font-size: max(1vh, 0.75vw);
    flex-flow: row wrap;
    justify-content: center;
    border: solid 1px;
    border-radius: 1rem;
}

#stats-text-container p {
    margin: max(0.5vw, 0.9vh);
}

#stats-text-container p span {
    font-weight: bold;
}

#match-history-container {
    display: flex;
    flex-direction: column;
    height: max(28vh, 18vw);
    background: #dd292947;
    border-radius: 0.5rem;
    overflow-y: scroll;
    font-size: max(1vh, 0.75vw);
    flex-grow: 1;
    scrollbar-width: thin;
}

#match-history-container .match {
    display: flex;
    margin-top: 1vh;
    text-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

#match-history-container .match p.usernames {
    max-width: 60%;
    overflow: hidden;
    margin-left: max(1vw, 1vh);
}

#match-history-container .match p.scores {
    margin-right: max(1vw, 1vh);
}
